* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.main-jumbo {
  background-color: rgb(44, 40, 40);
  border-radius: 0 !important;
  width: 100vw;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-nav {
  background-color: rgb(44, 40, 40) !important;
  padding-top: 20px !important;
  font-size: 20px;
}

.header-navbrand {
  font-size: 25px;
}

.header-navlink {
  padding-right: 25px !important;
}

.main-container{
  margin-top: 60px!important;
}

.footer-maindiv{
  width: 100vw;
  font-size: 20px;
  padding: 5px;
  background-color: #dbdbdb;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-row{
  justify-content: center;
  align-items: center;
}

.footer-row > i{
  font-size: 30px;
  padding-right: 20px;
  cursor: pointer;
}
